body {
  background: transparent url("//oxquyklcj.bkt.clouddn.com/mountain.jpg") no-repeat 0 0;
  background-size: cover;
  background: linear-gradient(to bottom, #42BCFD , #B650E0);
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
